.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(36 0);
  margin-bottom: rem(75);
  .btn {
    margin-right: rem(44);
    font-size: rem(20);
    padding: rem(6 40 5);
    box-shadow: none;
  }
}

.header__link {
  height: rem(35);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: rem(1);
    bottom: rem(-2);
    left: 0;
    opacity: 0;
    transition: opacity 250ms;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}
