@media (max-width: 1080px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 2000px) {
	html {
		font-size: 24px;
	}
}

@media (max-width: 1300px) {
  .container {
    max-width: none;
  }
}
